.App {
  /* text-align: center; */
}

.navbar-header, .navbar-home {
  background-color: #d1d1d1;
  font-size: calc(6px + 2vmin);
  font-weight: bold;
}

.navbar-home {
  padding-left: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 100vh;
  background-color: #d1d1d1;
}

.navbar {
  float: left;
}

.navbar-right{
  float: right;
  padding-right: 16px;
}

li {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8vh;
}

li a {
  padding: 16px;
  text-decoration: none;
  color: black;
}

li a:visited {
  color: black;
}

.navbar:hover {
  background-color: #b5b5b5;
}
