.navbar-header, .navbar-home {
  background-color: #d1d1d1;
  font-size: calc(6px + 2vmin);
  font-weight: bold;
}

.navbar-home {
  padding-left: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 100vh;
  background-color: #d1d1d1;
  box-shadow: 0em 0em .2em 1px gray;
  max-height: 8vh;
}

.navbar {
  float: left;
  font-size: calc(1px + 2vmin);
}

.navbar-right{
  float: right;
  padding-right: 16px;
}

li {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 8vh;
}

li a {
  padding: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #4f4f4f;
}

li a:visited {
  font-weight: bold;
  color: #4f4f4f;
}

.navbar:hover {
  background-color: #b5b5b5;
  border-radius: 10px 10px 5px 5px;
}
